.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  width: 100%;
  // top: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.nav-item {
  color: var(--grayish-blue-600);
  text-decoration: none;
}
