.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.nav-item {
  color: var(--grayish-blue-600);
  text-decoration: none;
}
